.accordion-title {
  background-color: #9daeb1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

.accordion-content {
  background-color: #c3d1d4;
  padding: 1rem;
}
