.card {
    display: flex;
    background-color: #fff;
    height: 40%;
    width: 20%;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 16px;
    position: relative;
    transition: box-shadow 0.2s ease-in-out;
}